body {
    background-color: white;
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 
    margin: 0;             
}

main {
    margin: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: rgb(243, 242, 240);
    border-radius: 8px;
    border: 1px solid black;
    padding: 30px 30px 60px;
    font-size: 1.5rem;box-sizing: border-box;
}

h1 {
    text-align: center;
}

article form {
    display: flex;
    font-size: 2rem;
    padding: 30px 30px 60px;
    text-align: center;
    border-radius: 8px;
}

section {
    text-align: center;
    width: 150px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(241, 237, 237);
    margin: 30px; 
    padding: 60px 100px;
}

section a {
    font-size: 1.5rem;
    border-radius: 8px;
    background-color:rgb(77, 141, 143);
    color:white;
    border: 1px solid black;
    padding: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    padding: 20px;
}


input {
    font-size: 1.5rem;
    
}

button {
    font-size: 1.5rem;
    border-radius: 8px;
    background-color:rgb(77, 141, 143);
    color:white
}

#resultado {
    background-color: white;
    color: red;
    font-size: 2rem;
    text-align: center;
}
